<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>couch potato - your guide to staying at home.</title>
		<link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename='styles/style.css')}}">
		
		<!--webapp toggles-->
		<link rel="apple-touch-icon" href="{{url_for('static', filename='images/iosicon.png')}}">	
		<meta name="apple-mobile-web-app-title" content="couch potato">
		<meta name = "apple-mobile-web-app-capable" content="yes">
		
	</head>
	<body>
		<div class="header">
			<h1>couch potato</h1>
			<h2>your guide to staying at home.</h2>
		</div>
		<div class="grid">
			<div class="option1">			<a href="{{ url_for('marvel') }}" type="button" class="cta">suggest a marvel movie</a></div>
			<div class="option2">			<a href="file:///Users/mike/Documents/GitHub/CodeRunners/templates/zelda.html" type="button" class="cta">coming soon</a></div>
			<div class="option3">			<a href="file:///Users/mike/Documents/GitHub/CodeRunners/templates/hw.html" type="button" class="cta">coming soon</a></div>
			<div class="option4">			<a href="file:///Users/mike/Documents/GitHub/CodeRunners/templates/marvel.html" type="button" class="cta">coming soon</a></div>
		</div>
	</body>
</html>