@font-face {
	font-family: 'marvelregular';
	src: url('marvelregular-dj83-webfont.woff2') format('woff2'),
		url('marvelregular-dj83-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	
}
@font-face {
	font-family: 'pp_agrandirtext_bold';
	src: url('ppagrandir-textbold-webfont.woff2') format('woff2'),
		url('ppagrandir-textbold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	
}

@font-face {
	font-family: 'pp_agrandirwide_black_italic';
	src: url('ppagrandir-wideblackitalic-webfont.woff2') format('woff2'),
		url('ppagrandir-wideblackitalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	
}


body {
	
		font-family: 'pp_agrandirtext_bold';
		color: white;
		font-size: 45px;
		background: linear-gradient(140deg, #6D123E,#BC5252, #FACEB6);
		background-size: 600vh 600vw;
		background-position: top center;
		position: relative;
		max-width: 100vw;
		z-index:1;
		overflow: scroll;
		-webkit-animation: AnimationName 10s ease infinite;
		-moz-animation: AnimationName 10s ease infinite;
		animation: AnimationName 10s ease infinite;
	}

	@-webkit-keyframes AnimationName {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@-moz-keyframes AnimationName {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@keyframes AnimationName { 
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}


	
}


p {
	color: white; 
	margin-top: -10px;
	font-family: 'pp_agrandirtext_bold';
	line-height: 100px;   /* within paragraph */
	
	}

* {
	padding : 0;
	margin:0;
	box-sizing: border-box;
	max-width: 100%;
}

.row {
	display: flex;
	padding-top: 0%;
	padding-bottom: 20%;
	padding-right: 20%;
	padding-left: 20%;
	flex: 100%;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
	.yas, .header, .row, .footer, .slay {
		padding: 5%;
		max-width: 100%;
	}
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
	.yas, .header, .row, .footer, .slay {
		padding: 5%;
	}
}

/*/* Responsive layout - makes a two column-layout instead of four columns */*/
/*@media screen and (max-width: 100vw) {*/
/*	.column {*/
/*		width: 50%;*/
/*	}*/
/*}*/

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 60vh) {
	.yas, .header, .row, .footer .column, .slay{
		padding: 5%;
	}
}

.button1 { display: block; box-sizing: border-box; margin: 0 auto; padding: 8px; width: 3000px; max-width: 100px; background: #fff; border-radius: 8px; color: #fff; text-align: center; text-decoration: none; letter-spacing: 1px; transition: all 0.3s ease-out;
	font-family: 'pp_agrandirtext_bold';
	border: none;
	color: black;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 19px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
	margin-right: 60px;
	margin-top: 30px;
	transition: .3s ease ;
	transition-property: all;
	opacity: 0.7;
	
}

.column{
	font-size: 1.5rem;
	padding: 15px;
	border-radius: 15px;
	background-color: #452A31;
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top:0%;
	justify-content: center;
	flex: 33.33%;
	max-width: 33.33%;
}

.column img{
	max-height: 300px;
	max-width:100px;
}
.button1:hover {
	opacity:1;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
	
}

.header {
	padding-right: 20%;
	padding-left: 20%;
	padding-top: 0%;
	padding-bottom: 0%;
}

.header h1{
	font-family: 'pp_agrandirwide_black_italic';
	font-weight: normal;
	font-style: normal;
	font-size: 1.5rem;
}

h2{
	font-family: 'pp_agrandirtext_bold', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5rem;
}


.yas{
	padding-top:5%;
	padding-bottom: 5%;
	padding-left: 20%;
	padding-right: 20%;
}

